:root {
    --light-gray: rgb(242, 242, 242);
    --med-gray: rgb(220, 220, 220);
    --dark-gray: rgb(153, 153, 153);
    --shadow-color: rgb(127, 127, 127);
    --box-shadow: 5px 5px 10px var(--shadow-color);
    --default-border: 1px solid var(--med-gray);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Manrope", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}
